<div id="dialogBorrowAccept" class="modal fade" tabindex="-1" role="dialog">
  <form id="accept-borrow-form">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Accept Borrow Request</h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
        <input type="hidden" id="itemId" name="itemId" value="" />
        <h3>Ready to lend?</h3>
        <h4>Comment</h4>

        <section class="comments"></section>

        <textarea class="form-control" id="comment" placeholder="Enter a bit of information about where to meet, when to meet, and how to get in contact with you!" rows="5" maxlength="2000"></textarea>

      </div>
      <script type="text/x-handlebars-template" class="record">
        {{#each comments}}
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="{{UserPicture}}?width=30&height=30">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">{{UserIdentifer}}</h4>
                    {{Comment}}
                  </div>
                </div>
        {{/each}}
      </script>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" data-loading-text="Working it! Please wait!" onclick="_gaq.push(['_trackEvent', 'Dialogue', 'Borrow', 'Accepted']);">Confirm</button>
    </div>
  </form>
</div>
