<div id="dialogBorrowDelete" class="modal fade" tabindex="-1" role="dialog">
    <form id="delete-borrow-form">
        <input type="hidden" id="itemId" name="itemId" value="" />
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>I don't want to borrow this right now.</h3>
            <button type="submit" class="btn btn-primary" data-loading-text="Working it! Please wait!" onclick="_gaq.push(['_trackEvent', 'Dialogue', 'Borrow', 'Deleted']);">Confirm</button>
        </div>
    </form>
</div>
