<div id="dialogFreeCancel" class="modal fade" tabindex="-1" role="dialog">
    <form id="delete-free-form">
        <input type="hidden" id="identifier" name="identifier" value="" />
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>I don't want this offer.</h3>
            <button type="submit" class="btn btn-primary" data-loading-text="Working it! Please wait!" onclick="_gaq.push(['_trackEvent', 'Dialogue', 'Free', 'Deleted']);">Yes</button>
        </div>
    </form>
</div>
