<div id="dialogItemGallery" class="modal modal-gallery fade" tabindex="-1">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body">
    <div class="modal-image"></div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-info modal-prev" onclick="_gaq.push(['_trackEvent', 'Dialogue', 'Image', 'Previous']);"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Previous</a>
    <a class="btn btn-primary modal-next" onclick="_gaq.push(['_trackEvent', 'Dialogue', 'Image', 'Next']);">Next&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
  </div>
</div>
