<div id="dialogRentReject" class="modal fade" tabindex="-1" role="dialog">
    <form id="reject-rent-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Not renting your item?</h3>
        </div>
        <div class="modal-body">
            <section class="comments"></section>
            <div class="row">
                <input type="hidden" id="itemId" name="itemId" value="" />
                <h4>Optional Comment</h4>
                <textarea class="form-control" id="comment" placeholder="ex. Sorry, but I am already renting it out to someone else!" rows="5" maxlength="1024"></textarea>
            </div>
        </div>
        <script type="text/x-handlebars-template" class="record">
            {{#each comments}}
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{UserPicture}}?width=30&height=30">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{UserName}}</h4>
                    {{Comment}}
                </div>
            </div>
            {{/each}}
        </script>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-loading-text="Working it! Please wait!" onclick="_gaq.push(['_trackEvent', 'Dialogue', 'Rent', 'Rejected']);">Confirm</button>
        </div>
    </form>
</div>
