<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.identityModel.services>
    <federationConfiguration>
      <wsFederation xdt:Transform="Replace" passiveRedirectEnabled="false" issuer="https://sharingiscaring.accesscontrol.windows.net/v2/wsfederation" realm="http://www.borentra.com/" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>