@using Borentra

@{
    var expiredSession = Request.QueryString["expired"] != null;
    var hideNavigation = ViewData["HideNavigation"] != null && (bool)ViewData["HideNavigation"];
}

@if (expiredSession)
{
    <div class="alert alert-warning">
        <p>Your session expired. Please login again!</p>
    </div>
}
<header>
    <div class="gaussian-blur"></div>
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="navbar-header pull-left">
                        <a href="/" class="nav-brand" title="Borentra: Borrow, Rent, Trade">
                            <span>Borentra</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6">
                    @if (!hideNavigation && !User.Identity.IsAuthenticated)
                    {
                        <div class="pull-right menu">
                            <a href="https://sharingiscaring.accesscontrol.windows.net/v2/wsfederation?wa=wsignin1.0&wtrealm=http://@Request.Url.Authority" title="Log in with Facebook" onclick="_gaq.push(['_trackEvent', 'Offsite', 'Registration', 'Login']);"><img src="@Url.ContentCdn("~/assets/img/facebook_small.jpg")" height="20px" />&nbsp;Facebook log in</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>
