@{
    ViewBag.Title = "Borentra: Official iOS App Coming soon";
    ViewBag.Description = "Apps, Apps, Apps, we want apps! We heard you loud and clear so... iOS app is coming soon, very soon!";
    Layout = "~/Views/Shared/Layouts/_HomepageLayout.cshtml";
    ViewBag.SelectedTheme = "mobile";
}
<div class="container">
    <div class="hero">
        <div class="container">
            <h1>iPhone App Coming soon!</h1>
            <div class="row">
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-6">
                    <div class="home-message">
                        <div class="message-sheet"></div>
                        <div class="message-gutter">
                            <h4>We know you <strong>Want</strong> it!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>