@{
    ViewBag.Title = "Borentra Services Inc. Privacy Policy";
    ViewBag.Description = "Borentra Services Inc. Privacy Policy";
    Layout = "~/Views/Shared/Layouts/_ContentLayout.cshtml";
    ViewBag.DisableJavaScript = true;
}
<div class="container">
    <div class="content-legal gutter">
        <h1>Privacy Policy</h1>
        <p>
            This Privacy Policy is effective January 01, 2013.
        </p>
        <p>
            Borentra Services Inc.. ("Borentra Services Inc." or the c"Company") is committed to protecting the privacy of your information. This Privacy Statement describes Borentra Services Inc.’s Web site privacy practices.
        </p>
        <h2>1. Web Site Covered</h2>
        <p>
            This Privacy Statement covers the information practices of <a href="http://www.borentra.com" title="Borentra™">http://www.borentra.com</a>.
        </p>
        <h2>2. Information Collected</h2>
        <p>
            Borentra Services Inc. offers a variety of services that are collectively
        referred to as the "Services." Borentra Services Inc. collects information
        from individuals who visit the Company’s Web site ("Visitors") and individuals who
        register to use the Services ("Customers").
        </p>
        <p>
            When expressing an interest in obtaining additional information about the Services
        or registering to use the Services, Borentra Services Inc. requires
        you to provide the Company with personal contact information, such as name, company
        name, address, phone number, and email address ("Required Contact Information").
        When purchasing the Services, Borentra Services Inc. requires you to
        provide the Company with financial qualification and billing information, such as
        billing name and address, credit card number, and the number of employees within
        the organization that will be using the Services ("Billing Information"). Borentra Services Inc. may also ask you to provide additional information,
        such as company annual revenues, number of employees, or industry ("Optional Information").
        Required Contact Information, Billing Information, and Optional Information are
        referred to collectively as "Data About Borentra Services Inc. Customers."
        </p>
        <p>
            As you navigate the Company’s Web site, Borentra Services Inc. may
        also collect information through the use of commonly-used information-gathering
        tools, such as cookies and Web beacons ("Web Site Navigational Information"). Web
        Site Navigational Information includes standard information from your Web browser
        (such as browser type and browser language), your Internet Protocol ("IP") address,
        and the actions you take on the Company’s Web site (such as the Web pages viewed
        and the links clicked).
        </p>
        <h2>3. Use of Information Collected</h2>
        <p>
            The Company uses Data About Borentra Services Inc. Customers to perform
        the services requested. For example, if you fill out a "Contact Me" Web form, the
        Company will use the information provided to contact you about your interest in
        the Services.
        </p>
        <p>
            The Company may also use Data About Borentra Services Inc. Customers
        for marketing purposes. For example, the Company may use information you provide
        to contact you to further discuss your interest in the Services and to send you
        information regarding the Company and its partners, such as information about promotions
        or events.
        </p>
        <p>
            Borentra Services Inc. uses credit card information solely to check
        the financial qualifications of prospective Customers and to collect payment for
        the Services.
        </p>
        <p>
            Borentra Services Inc. uses Web Site Navigational Information to operate
        and improve the Company’s Web site. The Company may also use Web Site Navigational
        Information alone or in combination with Data About Borentra Services Inc. Customers to provide personalized information about the Company.
        </p>
        <h2>4. Web Site Navigational Information</h2>
        <p>
            Borentra Services Inc. uses commonly-used information-gathering tools, 
        such as cookies and Web beacons, to collect information as you navigate the Company’s
        Web site ("Web Site Navigational Information"). This section describes the types
        of Web Site Navigational Information that may be collected on the Company’s Web
        site and how this information may be used.
        </p>
        <h3>4.1 Cookies</h3>
        <p>
            Borentra Services Inc. uses cookies to make interactions with the Company’s
        Web site easy and meaningful. When you visit the Company’s Web site, Borentra Services Inc.’s servers send a cookie to your computer. Standing alone, cookies
        do not personally identify you. They merely recognize your Web browser. Unless you
        choose to identify yourself to Borentra Services Inc., either by responding
        to a promotional offer, opening an account, or filling out a Web form (such as a
        "Contact Me" or a "30 Day Free Trial" Web form), you remain anonymous to the Company.
        Borentra Services Inc. uses cookies that are session-based and persistent-based.
        Session cookies exist only during one session. They disappear from your computer
        when you close your browser software or turn off your computer. Persistent cookies
        remain on your computer after you close your browser or turn off your computer.
        </p>
        <p>
            If you have chosen to identify yourself to Borentra Services Inc.,
        the Company uses session cookies containing encrypted information to allow the Company
        to uniquely identify you. Each time you log into the Services, a session cookie
        containing an encrypted, unique identifier that is tied to your account is placed
        your browser. These session cookies allow the Company to uniquely identify you when
        you are logged into the Services and to process your online transactions and requests.
        Session cookies are required to use the Services.
        </p>
        <p>
            Borentra Services Inc. uses persistent cookies that only the Company
        can read and use to identify browsers that have previously visited the Company’s
        Web site. When you purchase the Services or provide the Company with personal information,
        a unique identifier is assigned you. This unique identifier is associated with a
        persistent cookie that the Company places on your Web browser. The Company is especially
        careful about the security and confidentiality of the information stored in persistent
        cookies. For example, the Company does not store account numbers or passwords in
        persistent cookies. If you disable your Web browser’s ability to accept cookies,
        you will be able to navigate the Company’s Web site, but you will not be able to
        successfully use the Services.
        </p>
        <p>
            Borentra Services Inc. may use information from session and persistent
        cookies in combination with Data About Borentra Services Inc. Customers
        to provide you with information about the Company and the Services.
        </p>
        <p>
            Borentra Services Inc. may use information from Web beacons in combination
        with Data About Borentra Services Inc. Customers to provide you with
        information about the Company and the Services.
        </p>
        <h3>4.2 IP Addresses</h3>
        <p>
            When you visit Borentra Services Inc.’s Web site, the Company collects
        your Internet Protocol ("IP") addresses to track and aggregate non-personal information.
        For example, Borentra Services Inc. uses IP addresses to monitor the
        regions from which Customers and Visitors navigate the Company’s Web site.
        </p>
        <h3>4.3 Third Party Cookies</h3>
        <p>
            From time-to-time, Borentra Services Inc. engages third parties to
        track and analyze usage and volume statistical information from individuals who
        visit the Company’s Web site. Borentra Services Inc. may also use other
        third-party cookies to track the performance of Company advertisements. The information
        provided to third parties does not include personal information, but this information
        may be re-associated with personal information after the Company receives it.
        </p>
        <p>
            Borentra Services Inc. may also contract with third-party advertising
        networks that collect IP addresses and other Web Site Navigational Information on
        the Company’s Web site and emails and on third-party Web sites. Ad networks follow
        your online activities over time by collecting Web Site Navigational Information
        through automated means, including through the use of cookies. They use this information
        to provide advertisements about products and services tailored to your interests.
        You may see these advertisements on other Web sites. This process also helps us
        manage and track the effectiveness of our marketing efforts. To learn more about
        these and other advertising networks and their opt-out instructions, click here.
        </p>
        <h2>5. Public Forums, Refer a Friend, and Customer Testimonials</h2>
        <p>
            Borentra Services Inc. may provide bulletin boards, blogs, or chat
        rooms on the Company’s Web site. Any personal information you choose to submit in
        such a forum may be read, collected, or used by others who visit these forums, and
        may be used to send you unsolicited messages. Borentra Services Inc.
        is not responsible for the personal information you choose to submit in these forums.
        </p>
        <p>
            Customers and Visitors may elect to use the Company’s referral program to inform
        friends about the Company’s Web site. When using the referral program, the Company
        requests the friend’s name and email address. Borentra Services Inc.
        will automatically send the friend a one-time email inviting him or her to visit
        the Company’s Web site. Borentra Services Inc. does not store this
        information.
        </p>
        <p>
            Borentra Services Inc. may post a list of Customers and testimonials
        on the Company’s Web site that contain information such as Customer names and titles.
        Borentra Services Inc. obtains the consent of each Customer prior to
        posting any information on such a list or posting testimonials.
        </p>
        <h2>6. Sharing of Information Collected</h2>
        <p>
            Borentra Services Inc. may share Data About Borentra Services Inc. Customers with the Company’s service providers so that these service providers
        can contact Customers and Visitors who have provided contact information on our
        behalf. Borentra Services Inc. may also share Data About Borentra Services Inc. Customers with the Company’s service providers to ensure the
        quality of information provided. Unless described in this privacy statement, Borentra Services Inc. does not share, sell, rent, or trade any information
        provided with third parties for their promotional purposes.
        </p>
        <p>
            From time to time, Borentra Services Inc. may partner with other companies
        to jointly offer products or services. If you purchase or specifically express interest
        in a jointly-offered product or service from Borentra Services Inc.,
        the Company may share Data About Borentra Services Inc. Customers collected
        in connection with your purchase or expression of interest with our joint promotion
        partner(s). Borentra Services Inc. does not control our business partners’
        use of the Data About Borentra Services Inc. Customers we collect,
        and their use of the information will be in accordance with their own privacy policies.
        If you do not wish for your information to be shared in this manner, you may opt
        not to purchase or specifically express interest in a jointly offered product or
        service.
        </p>
        <p>
            Borentra Services Inc. uses a third-party service provider to manage
        credit card processing. This service provider is not permitted to store, retain,
        or use Billing Information except for the sole purpose of credit card processing
        on the Company’s behalf.
        </p>
        <p>
            Borentra Services Inc. reserves the right to use or disclose information
        provided if required by law or if the Company reasonably believes that use or disclosure
        is necessary to protect the Company’s rights and/or to comply with a judicial proceeding,
        court order, or legal process.
        </p>
        <h2>7. International Transfer of Information Collected</h2>
        <p>
            To facilitate Borentra Services Inc.’s global operations, the Company
        may transfer and access Data About Borentra Services Inc. Customers
        from around the world, including the United States. This Privacy Statement shall
        apply even if Borentra Services Inc. transfers Data About Borentra Services Inc. Customers to other countries.
        </p>
        <h2>8. Communications Preferences</h2>
        <p>
            Borentra Services Inc. offers Customers and Visitors who provide contact
        information a means to choose how the Company uses the information provided. You
        may manage your receipt of marketing and non-transactional communications by clicking
        on the "unsubscribe" link located on the bottom of the Company’s marketing emails.
        Additionally, you may send a request specifying your communications preferences
        to <a href="mailto:jef@borentra.com">jef@borentra.com</a>.
        Customers cannot opt out of receiving transactional emails related to their account
        with Borentra Services Inc. or the Services.
        </p>
        <h2>9. Correcting and Updating Your Information</h2>
        <p>
            Customers may update or change their registration information by logging in to their
        accounts at <a href="http://www.borentra.com">http://borentra.com</a>.
        Requests to access, change, or delete your information will be handled within 30
        days.
        </p>
        <h2>10. Security</h2>
        <p>
            Borentra Services Inc. uses appropriate administrative, technical,
        and physical security measures to protect Data About Borentra Services Inc. Customers.
        </p>
        <h2>11. Changes to this Privacy Statement</h2>
        <p>
            Borentra Services Inc. reserves the right to change this Privacy Statement.
        Borentra Services Inc. will provide notification of the material changes
        to this Privacy Statement through the Company’s Web site at least thirty (30) business
        days prior to the change taking effect.
        </p>
        <h2>12. Contacting Us</h2>
        <p>
            Questions regarding this Privacy Statement or the information practices of the Company’s
        Web site should be directed to <a href="mailto:jef@borentra.com">jef@borentra.com</a>
            or by mailing Borentra.
        </p>
    </div>
</div>
