@{
    ViewBag.Title = "Company Registration";
}

<section class="main-content">
    <div class="container marketing-content">
        <div class="page-header">
            <h1>Company Registration</h1>
        </div>
        <form action="" method="post">
            <input type="submit" title="Save" alt="Save" />
        </form>
    </div>
</section>
