@Html.Partial("Home/Partials/_LoginButton")
@Html.Partial("Home/Partials/_Facepile")
<p class="muted text-center">
    <small>We <strong>never</strong> post to your wall; your safety &amp; privacy is paramount.</small>
</p>