@using Borentra
<a href="https://sharingiscaring.accesscontrol.windows.net/v2/wsfederation?wa=wsignin1.0&wtrealm=http://@Request.Url.Authority" class="btn btn-get-started-now" onclick="_gaq.push(['_trackEvent', 'Offsite', 'Registration', 'SplashPage']);" title="Log in with Facebook"><img src="@Url.ContentCdn("~/assets/img/facebook_small.jpg")" />&nbsp;Log in with Facebook</a>