@using Borentra;

<div class="hero">
    <div class="container">
        <h1>Borrow, Rent, Trade Electronics!</h1>
        <div class="row">
            <div class="col-md-6">
                &nbsp;
            </div>
            <div class="col-md-6">
                <div class="home-message">
                    <div class="message-sheet"></div>
                    <div class="message-gutter">
                        <h4>
                            <strong>Speakers</strong>, <strong>Cameras</strong>, <strong>TVs</strong>, <strong>Projectors</strong>, <strong>XBOX360s</strong>, <strong>Sony PlayStations</strong> &ndash; why <strong>buy</strong> all this when you can <strong>borrow</strong>?<br />
                            <br />
                            We make your life easier by <strong>sharing anything</strong> with your friends and family!
                        </h4>
                        @Html.Partial("Home/Partials/_FacebookHook")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>