@using Borentra;

<div class="hero">
    <div class="container">
        <h1>
            Receive or Give Away Things You Don't Need!<br />
            <strong>FreeCycling</strong> is safe, easy, and fast!
        </h1>
        <div class="row">
            <div class="col-md-6">
                &nbsp;
            </div>
            <div class="col-md-6">
                <div class="home-message">
                    <div class="message-sheet"></div>
                    <div class="message-gutter">
                        <h4>
                            <strong>Clothes</strong>, <strong>Appliances</strong>, <strong>Tools</strong> &ndash; why <strong>throw away</strong> all this when you can <strong>give it away</strong> to a friend?<br />
                            We make your life easier by <strong>sharing anything</strong> with your friends and family!
                        </h4>
                        @Html.Partial("Home/Partials/_FacebookHook")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>