<div class="component global-heat-map-component">
    <div id="world_map_container">
        <div class="text-center" id="world_map_loading">
            Loading...Please Wait...
        </div>
    </div>
</div>